* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.chartCard {
    width: 100vw;
    height: calc(100vh - 40px);
    background: rgba(54, 162, 235, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chartBox {
    width: 1000px;
    height: 800px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(54, 162, 235, 1);
    background: white;
}

.container {
    width: 800px;
    max-width: 800px;
    overflow-x: scroll;
}

.containerBody {
    height: 700px;
}

